# ===================================================================
# Spring Boot Configuration for the prod profile
# ===================================================================

# SERVER
server:
  error:
    include-exception: true # Include the "exception" attribute.
    include-stacktrace: always # When to include a "stacktrace" attribute.
    whitelabel.enabled: true

# LOGGING
logging:
  level:
    root: INFO
    com.alignlab: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.jdbc.core.JdbcTemplate: DEBUG
    org.springframework.jdbc.core.StatementCreatorUtils: TRACE
    org.springframework.orm.jpa.JpaTransactionManager: DEBUG
    org.springframework.web.server.adapter.HttpWebHandlerAdapter: DEBUG
    reactor.netty.http.client: DEBUG

# SPRING
spring:
  jackson:
    serialization:
      indent_output: true
      write-null-map-values: true

# DATABASE
hero:
  master:
    datasource:
      url:
      username:
      password:
      hikari:
        minimum-idle: 10
        maximum-pool-size: 15
        max-lifetime: 900000
  jpa:
    properties:
      hibernate.hbm2ddl.auto: none
      hibernate.criteria.literal_handling_mode: bind
  maximum-jdbc-thread-pool-size:
